# This is an example file. Copy the FIREBASE_ADMIN_SERVICE_ACCOUNT variable into your actual .env file.
# The entire JSON object must be on a single line, and the newline characters (\n) within the private key must be escaped as \\n.

FIREBASE_ADMIN_SERVICE_ACCOUNT='{"type": "service_account","project_id": "localcoin-marketplace","private_key_id": "873faee0a04b76ce795d666b865591a29e07917b","private_key": "-----BEGIN PRIVATE KEY-----\\nMIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCSl/zXdfWQO5o5\\nvEGV7tkT9OEt4p/e5VcOnRq5fA246T7Lp58Lne2gfY25y9wPLuBnBrJcVmsw78Bb\\nER+WOy+7ZC9NPt3mmGI7kOQ3...[REST OF YOUR KEY]...-----END PRIVATE KEY-----\\n","client_email": "firebase-adminsdk-fbsvc@localcoin-marketplace.iam.gserviceaccount.com","client_id": "107317759701871735220","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40localcoin-marketplace.iam.gserviceaccount.com","universe_domain": "googleapis.com"}'
